body,html{
    height:100%;
}
.vhod{
    background-color: #F2CC8F;
    box-shadow: 0 0.75rem 2.25rem rgba(92, 141, 255, 0.12);
    color: #FFFAFB;
    width: 100%;
    border-radius: 1%;
}

.form-group{
    margin-top: 10px;
}
.btn{
    background: transparent;
    border: 2px solid #FFFAFB;
    border-radius: 5px;
    color: #FFFAFB;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.btn:hover{
    background-color: #FFFAFB;
    color: #F2CC8F;
}
.selects{
    border: 0 !important;
    color:black !important;
    font-size: large;
    border-bottom: 1px solid rgba(34, 34, 34, 0.158) !important;
}
.btn-funct{
    border: 2px solid #E07A5F;
    color: #E07A5F;
}
.btn-funct:hover{
    background-color: #E07A5F;
    color: #FFFAFB;
}

.btn-docx{
    background: #6b5de7;
    border: 2px solid #6b5de7;
    color:#FFFAFB;
}
.btn-docx:hover{
    color: #6b5de7;
    background-color: #FFFAFB;
}

.btn-xls{
    background: #29ad67;
    border: 2px solid #29ad67;
    color:#FFFAFB;
}
.btn-xls:hover{
    color: #29ad67;
    background-color: #FFFAFB;
}
.btn-pdf{
    background: #ac282f;
    border: 2px solid #ac282f;
    color:#FFFAFB;
}
.btn-pdf:hover{
    color: #ac282f;
    background-color: #FFFAFB;
}