<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>case7</title> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rubik&display=swap" rel="stylesheet">
</head>
<body>
<div class='homepage'> 
    <div class="jumbotron jumbotron-fluid">
        <div class='row justify-content-center'>
            <div class="col-12 col-md-4 text-center">
                <img src='https://cdn.discordapp.com/attachments/824553156905533491/832723083860639744/3cc201723fe5da1c.png'>
            </div>
            <div class="col-12 col-md-8 text-left">
                <h3>Департамент профессионального образования<br>Томской области</h3>
                
            </div>
        </div>
        <div class="container text-center">
            <h4>Абитуриенту</h4>
        </div>
    </div>
    <div class='container mb-5' id='vstavka'>
        <div class='row studentAction mb-5'>
            <div class='col-12 col-lg-6 text-center'>
                <button class='btn mt-5' onclick="Zayavlenie()">Заявлениe о приеме</button>
            </div>
            <div class='col-12 col-lg-6 text-center'>
                <button class='btn mt-5' onclick="Soglasie()">Согласие на обработку <br> персональных данных</button>
            </div>
        </div>
        
    </div>
</div>      
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="../static/script.js" type="text/javascript"></script>
</body>
</html>
